body {
  font-family: 'Roboto Condensed', sans-serif !important;
	font-size:16px;
	line-height:1.42857143;
  padding-top:0;
}
header{
  background-color: #A6C34E;
  margin-right: 2%;
  margin-left: 2%;
}
.padding-0{
  padding-right: 1%;
  text-align: right;
}
/* .fa-facebook-official {
  color: #3B5998;
}
.fa-youtube {
  color: #bb0000;
} */
.icon2 {
  font-size: 28px;
}
.strongText {
    font-weight: 700;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nationInfo {
  text-align: center
}
hr {
  margin:0;
}
header h6 i {
    float: left;
    font-size: 24px;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
    margin-right: 10px;
    margin-top: 5px;
}
header h6 span {
    overflow: hidden;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;    
}
.bd-placeholder-img {
  background: linear-gradient(to right, #5d2d88, #ea4c11);
}
#default2 {
  background-color: #A6C34E;
}
#default2.fixed-top {
   position:fixed;
   top:0; left:0;
   width:100%;
   background-color:#A6C34E;
}
#logo-small img{
  max-height:40px;
}
#logo-small
{
  display:none;
}
img.logo {
  max-width:100%;
}

/* carousel */
.carousel {
  margin-bottom: 0rem;
}


/*FOOTER*/

footer {
  /* background:  rgb(53, 119, 67);
  background: -webkit-linear-gradient(59deg, #43733a, #21421c);
  background: linear-gradient(59deg, #3c733a, #162a19);
  color: rgb(53, 119, 67); */
  margin:0px;

}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #bb0000;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #dd4444;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


/* about us  */

.about{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
    background-image:url("background_images\leafs_dark.png");
    background-repeat:repeat;
  background-size:cover;

}
.about h1 {
	padding: 10px 0;
	margin-bottom: 20px;
}
.about h2 {
	opacity: .8;
}
.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: #4C0822;
	border: 2px solid #4C0822;

	webkit-transition:all .5s ease;
 	moz-transition:all .5s ease;
 	os-transition:all .5s ease;
 	transition:all .5s ease;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #CC0039;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: #CC0039;
	font-size: 14px;
	font-weight: bold;
}

/* generic design */
.leaf-background {

}
main-adjustments {
  margin-left: -102.8px;
  margin-right: -103.2px; 
  padding-left: 102.8px; 
  padding-right: 103.2px; 
  border-left: 0px; 
  border-right: 0px;
}

/* Notice board */
.our-skills {padding-top: 40px; padding-bottom: 70px}
.our-skills h3 {font-weight: bold; margin-top: 0}


.back-img {
 background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
 background-repeat: repeat;

}

button:focus{outline: none;border: none;}
.container{width: 1500px;max-width: 1500px;}
.topstrip{background: #e9e9e9; min-height: 54px;}
.topstrip ul{padding: 0; margin: 0;list-style: none;}
.topstrip ul li{float: left;}
.social-link{padding: 15px 0; display: inline-block; float: left;}
.social-link ul li a{margin-right: 5px; border: 1px solid #a0a0a0; height: 25px; width: 25px;text-align: center; line-height: 23px;transition: all 0.5s; font-size: 15px; color: #a0a0a0;display: inline-block; border-radius: 50%;}
.social-link ul li a:hover{ color: #fff; background: #a0a0a0; }

.topstrip-menu{display: inline-block; float: left;}
.topstrip-menu ul li a{color: #a0a0a0;text-decoration: none;font-size: 12px;text-transform: uppercase; padding: 10px 12px;float: left;}
.topstrip-menu ul li a:hover{color: #01409f; transition: 0.3s;}

ul#menu-top_strip_menu {padding-top: 10px;}
.topstrip .btn-secondary{color: #00a651 !important; background-color: transparent !important; border-color: transparent !important;font-size: 12px;}
.topstrip .theme-color li{margin-right: 0px;}
.topstrip .theme-color li a{padding: 4px; border: 1px solid transparent; background: #ececec; display: inline-block; float: left;transition: 0.3s;}
.topstrip .theme-color li a:hover{border: 1px solid #00a651;padding: 4px;}
.topstrip .theme-color li a span{width: 10px; height: 10px; display: block;}
.topstrip .language_bar_chooser{background: #ececec; overflow: hidden;}
.topstrip .language_bar_chooser li{width: 100%;}
.topstrip .language_bar_chooser li a{display: block; padding: 5px 10px; color: #333;font-size: 12px;text-decoration: none;}
.topstrip .language_bar_chooser li a:hover{color: #00a651; background: #fff;}

.topstrip-right .ab{display: inline-block;float: left; margin-top: 16px; font-size: 13px; margin-right: 15px;color: #a0a0a0;}
.fontsize{float: right; margin-top: 20px !important;}
.fontsize li {margin-right: 7px; position: relative; bottom: 6px;}
.fontsize li a {
    font-size: 14px;
    background: #636363;
    color: #fff;
    border: 2px solid #636363;
    text-align: center;
    width: 25px;
    height: 23px;
    transition: all ease-in-out 0.5s;
    text-decoration: none;
    display: inline-block;
}
.fontsize li a:hover {color: #636363; background: #fff;}
.topstrip-right .dropdown{display: inline-block; padding: 11px 0;}
.topstrip-right{float: right;}
.theme-color{padding: 16px 0 !important; float: left;}
