div#dicpro {
    height: 80%;
    width: 58%;
    /* opacity: 0.8; */
    background-color: rgba(152, 114, 0,0.7);;
    align-self: center;
    align-content: center;
    margin: 3rem;
    /* margin-top: 7vw; */
    box-shadow: 2px 2px 5px black;
}


img#dicproimg {
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    opacity: 1;
}


img#dicproimg {
    vertical-align: middle;
    border-style: none;
    
    align-self: center;
}
.container-fluid {
    
    padding-right: 0; 
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
}

.color1 {
    background-color: rgb(224, 161, 224,0.6);
}

.color2 {
    background-color: rgb(164, 204, 141,0.6);
}
.color3 {
    background-color: rgb(130, 210, 245,0.6);
}
.color4 {
    background-color: rgb(255, 238, 170,0.6);
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .column70 {
    float: left;
    width: 90%;
  
  }
  .column30 {
    float: left;
    width: 10%;
    margin-top: 1vw;
    
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
 .side-margin {
    margin: 6vw;
    margin-top: 0;
    border: 1px solid black;
}
.side-img{
    width: 100%;
    border-radius: 84px;
    padding: 3vw;
}
.side-img1{
    width: 60%;
    border-radius: 84px;
    padding: 3vw;
}

.backdrop {
    background-color: ghostwhite;
}
.fonttype {
    font-family: 'Georgia', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', 'Baskerville', 'serif';;
    color: black;
    font-size: medium;
}
.fonttypeheading {
    font-family: 'Georgia', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', 'Baskerville', 'serif';;
    color: white;
    font-size: x-large;
}
u {
    border: 1px solid black;
    background-color: white;
    padding: 6px;
}
strong {
    border: 1px solid black;
    background-color: black;
    padding: 6px;
   
}



/* tab navigation */
.tabs {
    position: relative;
	margin: 40px auto;
    width: 85%;
}

.tabs input {
	position: absolute;
	z-index: 1000;
	width: 100px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 120px;
}
.tabs input#tab-3{
	left: 220px;
}
.tabs input#tab-4{
	left: 320px;
}
.tabs input#tab-5{
	left: 380px;
}
.tabs input#tab-6{
	left: 400px;
}
.tabs input#tab-7{
  left: 450px;
}
.tabs label {
  background: -moz-linear-gradient(to top, #0d7562 0%, #0d7562 100%);
  /* background: -webkit-gradient(linear, left to top, left bottom, color-sto top(0%,#5ba4a4), color-sto top(100%,#0d7562)); */
  background: -webkit-linear-gradient(to top, #0d7562 0%,#0d7562 100%);
  background: -o-linear-gradient(to top, #0d7562 0%,#0d7562 100%);
  background: -ms-linear-gradient(to top, #0d7562 0%,#0d7562 100%);
  background: linear-gradient(to top, #0d7562 0%,#0d7562 100%);
  font-size: 1vw;
  line-height: 40px;
  /* height: 40px; */
  position: relative;
  padding: 0 9px;
  float: left;
  display: block;
  color: black;
  top: 0px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  border-radius: 3px 3px 0 0;
  box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}
.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 100%;
	height: 8px;
	display: block;
}

.tabs input:hover + label {
	background: #0d7562;
	top: -8px;
	-webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}
.tabs input:hover + label:after{
	background: #0d7562;
}
.tabs input:hover + label ~ .clear-shadow {
    top: -8px;
	-webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.tabs input:checked:hover + label {
    top: 0;
}
.tabs input:checked:hover + label:after{
	background: #fff;
}
.tabs input:checked:hover + label ~ .clear-shadow {
    top: 0;
	background: #fff;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

.tabs input.tab-selector-1:hover + label.tab-label-1 ~ .clear-shadow{
    z-index: 3;
}

.tabs input.tab-selector-2:hover + label.tab-label-2 ~ .clear-shadow {
    z-index: 2;
}

.tabs input.tab-selector-3:hover + label.tab-label-3 ~ .clear-shadow {
    z-index: 1;
}

.tabs input.tab-selector-4:hover + label.tab-label-4 ~ .clear-shadow {
    z-index: 0;
}
.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
	-webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.clear-shadow {
    background: #0d7562;
	position: relative;
	top: 0;
    height: 10px;
	margin-bottom: -10px;
    clear: both;
	z-index: -2;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.content {
    background: rgba(255,255,255, 0.6);
	position: relative;
    width: 100%;
	height: 370px;
	z-index: 5;
	overflow: hidden;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
	top: 0;
	left: 0;
	bottom: 100%;
	padding: 10px 40px;
	/* overflow: hidden; */
	z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
	bottom: 0px;
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.2s;
    -moz-transition: all ease-out 0.2s 0.2s;
    -o-transition: all ease-out 0.2s 0.2s;
    -ms-transition: all ease-out 0.2s 0.2s;
    transition: all ease-out 0.2s 0.2s;
}

.content div h2,
.content div h3{
	color: #0d7562;
}
.content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #111;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}



/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 6px;
	color: #aaa;
	line-height: 20px;	
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #ddd;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(to top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left to top, left bottom, color-sto top(0%,#ffffff), color-sto top(47%,#f6f6f6), color-sto top(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(to top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(to top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(to top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.codrops-demos a:hover{
	color: #0d7562;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f6f6f6;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

/* side menu */


h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 6px;
    font-size: 1rem;
}
  
  a {
    text-decoration: none;
  }
  
  #btn1 {
    top: 400px;
    width: 300px;
  }
  
  #btn2 {
    top: 450px;
    width: 300px;
  }
  
  #btn3 {
    top: 500px;
    width: 300px;
  }
  #btn4 {
    top: 550px;
    width: 300px;
  }
  #btn5 {
    top: 600px;
    width: 300px;
  }
  #btn6 {
    top: 650px;
    width: 300px;
  }
  #btn7 {
    top: 700px;
    width: 300px;
  }
  #btn8 {
    top: 750px;
    width: 300px;
  }
  
  div.button {
    background-color:black;
    color: white;
    z-index: 1;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    position: fixed;
    left: -244px;
    transition: .7s ease;
}
  
  div.button:hover {
    background-color: black;
    position: fixed;
    border-bottom: 1px solid #a0138e;
    left: -50px;
    width: 600px;
    border-radius: 0px;
    box-shadow: 0px 5px 0px #a0138e;
  }
  
  div.button:active {
    background-color: #2c3e50;
    transition: 0s;
    color: #ecf0f1;
  }


/* scroll bar */


#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: black;
}
a:hover{
    color: black;
}
a.sidenava :hover{
    color:white;
}

.scrollbar {
    /* margin-left: 30px; */
    float: left;
    height: 370px;
    width: 100%;
    /* background: #F5F5F5; */
    overflow-y: scroll;
    /* margin-bottom: 25px; */
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}



/* list design achievents */
ol.gradient-list > li, ol.gradient-list > li::before {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  }
  
  /*** STYLE ***/
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
  }
  ol.gradient-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    color: black;
  }
  ol.gradient-list > li::before, ol.gradient-list > li::after {
    background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1vw;
    width: 3rem;
}
  ol.gradient-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
  }
  ol.gradient-list > li:nth-child(10n+1):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
  }
  ol.gradient-list > li:nth-child(10n+2):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
  }
  ol.gradient-list > li:nth-child(10n+3):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
  }
  ol.gradient-list > li:nth-child(10n+4):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
  }
  ol.gradient-list > li:nth-child(10n+5):before {
    background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
  }
  ol.gradient-list > li:nth-child(10n+6):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
  }
  ol.gradient-list > li:nth-child(10n+7):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
  }
  ol.gradient-list > li:nth-child(10n+8):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
  }
  ol.gradient-list > li:nth-child(10n+9):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
  }
  ol.gradient-list > li:nth-child(10n+10):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0) 0%, rgba(253, 220, 50, 0) 100%);
  }
  ol.gradient-list > li + li {
    margin-top: 2rem;
  }


  /* achievement tab navigation */

  .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
  .tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7) 
  {
    display: block;
  }
  
  /*
   Styling
  */
 .tabset {
  /* background-color: aliceblue; */
  box-shadow: 2px 2px 8px;
  margin-bottom: 20px;
  border-radius: 9px;
  font-size: small;
  /* font-weight: 800; */

}
  
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 1vw 0.5vw 1vw;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 700;
  color: black;
}
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 1.2vw;
    bottom: 0.5vw;
    width: 2vw;
    height: 4px;
    background: #8d8d8d;
    color: black;
}
  
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  p {
      color: black;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;

  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #0d7562;
    margin-bottom: -1px;
    color: white  ;
    background-color: #0D7562;
    box-shadow: 5px 6px 10px seagreen;
    border-radius: 9px;
}
  
  .tab-panel {
    padding: 30px 30px;
    border-top: 1px solid #ccc;
  }
  
 
  
/* table boreder */
.table-bordered td, .table-bordered th, table thead th {
  border: 1px solid black;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid;
  align-content: center;
  font-family: "Arial Black";
  font-weight: 800;
}
.table  tr, td {
  vertical-align: bottom;
  border-bottom: 2px solid;
  align-content: center;
  font-family: "Arial Black";
  font-weight: 800;
  /* font-size: "120px"; */
}
