/*
  terrible.css
  Andrew Tunecliffe, 2015
  http://atunnecliffe.com
*/
/* uncomment to see outlines of stuff when you hover *-/
:hover {
  background:rgba(0, 0, 0, 0.1);
}/**/

html,
body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
}



/* new navbar */

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    height: 20px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
      border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}







.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Georgia', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', 'Baskerville', 'serif';
  overflow: hidden;
}

.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #f7f7f7;
}
/*
  Header
*/

.hold {
  height: 80px;
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small > .container > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: 'Georgia', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', 'Baskerville', 'serif';
  font-size: 1vw;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: yellow;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
  text-align: justify;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;

}

ul.nav li:hover a {
  color: red;
}

ul.nav li a {
  padding: 21px;
  color: white;
  text-decoration: initial;
}
/*
  Slider
*/

.section .slider,
.section .footer {
  background: #333;
}

.slidercontent {
  text-align: center;
}

.hero {
  font-family: 'Georgia', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', 'Baskerville', 'serif';
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  height: 15vw;
  object-fit: cover;
}

h1.hero {
  font-size: 54px;
}

h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.call span:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
/* 
  Columns 
*/

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.four {
  width: 23%;
  margin: 0 1%;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}

.col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col .service,
.col .feature {
  font-size: 21px;
  font-weight: 300;
  font-family: 'Verdana','Arial','Bitstream Vera Sans','DejaVu Sans','Meiryo','Hiragino Kaku Gothic Pro','MS PGothic','Osaka','sans-serif';;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.col .feature {
  font-size: 19px;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col:hover > .icon {
  background: #F44336;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}
/*
  Column specifics
*/

.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}

.col .imgholder {
  height: 200px;
  width: 100%;
  background: #333;
  transition: background 0.3s linear;
}
a#iso {
  color:white;
  font-size: x-large;
}

marquee.m-0 {
  height: 210px;
}
.col.bg {
  background: #FFF;
}

.col.pointer {
  cursor: pointer;
}

.col.bg:hover .imgholder {
  background: #555;
}

.col span.feature {
  font-size: 20px;
}
/*
  Text
*/

.container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.container > h1:after {
  content: "";
  width: 60px;
  position: relative;
  /* border-bottom: 3px solid #88131B; */
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-family: 'Georgia', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', 'Baskerville', 'serif';
  text-align: center;
  font-weight: 400;
  font-size: 1.3vw;
  color: black;
}
.left,
.left > h1,
.left > p {
  text-align: left;
}

.reset {
  text-align: left !important;
}

.reset:after {
  display: none !important;
}
/* 
  Slider with Content
*/

.white h1,
.white h2,
.white p,
.white div,
.white a {
  color: #fff;
}
/*
  Responsive
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .col.four {
    width: 48%;
    margin: 1%;
  }
  .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }
  ul.nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  ul.nav li {
    float: initial;
    display: inline-block;
  }
  .responsivegroup {
    display: block;
  }
  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media all and (max-width:450px) {
  .col, .col.four, .col.three, .col.two {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }
  .group {
    display: none;
  }
}


  
.card-deck {
    margin: 0 15px;
}
  
.card-deck .card {
    margin: 0 1rem 2rem;
    opacity: 0.9;
}
.card-img {
    max-height: 500px;
    max-width: 100%;
    height: 230px ;
}

.card.shadow.rounded.ml-3.directorcard {
  width: 80%;
  height:559px;
}
p.card-text {
  padding-right: 20px;
  padding-left: 20px;
  
}
.carousel-item > img.tinyimage {
  height: 230px;
  padding-left: 1rem;
}
div#carouselExampleSlidesOnly {
  height: 223px;
  width: 83.5%;
  margin-top: 2rem;
}
.carousel-item.tinycarousel {
  height: 230px;
}
.card.shadow.rounded.ml-3.mt-2 {
  width: 80%;
}
ul {
  text-align: justify;
  font-weight: bold;
  /* font-size: 18px; */
  color: black;
  font-size: 1.1vw;
}
p{
  font-weight: bold;
  text-align: justify;
  font-size: 18px;
}
.plarge{
  font-weight: bold;
  text-align: justify;
  font-size: 16px;
}
td{
  font-weight: bold;
  text-align: justify;
  font-size: 16px;
}
th{
  font-weight: bold;
  text-align: justify;
  font-size: 16px;
}
h3 {
  font-weight: bold;
}

a{
    font-weight: bold;
    font-size: 1.1vw;

  }
  

/* p.text-right {
  margin-right: 30px;
} */
.text-border::after {
    content: "";
    border-bottom: 3px solid #88131B;
    display: block;
    width: 200px;
    color: black;
    text-decoration: none;
}


h5.card-title {
  color: #88131b;
  font-size: 1.2vw;
  font-family: "Comic Sans MS", "Comic Sans",cursive, sans-serif;
}
h6.card-title {
  color: #0d7562;
  font-size: large;
  text-decoration: underline;
  
}
p.text-center.pb-0.mb-0 {
  color: white;
}

h5.card-title :hover{
  background-color: grey;
}

.btn-group-sm>.btn, .btn-sm :hover {
  background-color: grey;
}

.text-border1::after {
  content: "";
  border-bottom: 3px solid #88131B;
  display: block;
  width: 110px;
  color: black;
  text-decoration: none;
}
.ab-box {
    padding: 0 0 20px 0;
    min-height: 370px;
    position: relative;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}


ol {
  color:black;
}
  /* multi list navbar */