

  @media(max-width:992px){
   .wrapper{
    width:100%;
  } 
  }
  .panel-heading {
    padding: 0;
    border:0;
    font-family: 'Glyphicons Halflings';
    font-size: larger;
  }
  .panel-body {
    color: black;
    padding: 0px 20px;
}
  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    
    color:black;
    font-size: larger;
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
      font-family: 'Book Antiqua', 'URW Palladio L';
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\002b";
     float: right;
     transition: all 0.5s;
     
  }
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
     
  } 
  .table-bordered td, .table-bordered th, table thead th {
    border: 1px solid black;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid;
}