.imageborder {
    border: 3px solid white;
    width: fit-content;
    height: 300px;
}
.card {
    background-color: transparent;
    border: none;
}
.color5 {
    background-color: rgba(0, 0, 0, 0.7);
}
.borderh1 {
    /* line-height: 48px; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    border-bottom: 2px dashed white;
    /* color: white; */
    /* font-size: xx-large; */
    position: absolute;
}
h2 {
    line-height: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-bottom: 2px dashed white; */
    color: white;
    font-size: xx-large;
    /* position: absolute; */
}
h6 {
    color: white;
    font-size: x-large;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 45px;
    align-items: stretch;
}

  
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .cardcolor
  {
    color: #0D7562;
  }
  
  .grid > article i {
    font-size: 60px;
    line-height: 70px;
    height: 80px;
    width: 80px;
    border: 6px solid #0D7562;
    border-radius: 50%;
    background-color: #0D7562;
    text-align: center;
    color: white;
    margin-top: -36px;
  }
  
  .grid .text {
    padding: 16px 20px 30px;
  }
  
  .grid .btn {
    margin-top: 20px;
  }

  dt {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    /* margin: 2em 0; */
    margin-top: 1rem;
     
    
  }
  dd {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    margin-bottom: 1em;
    border-bottom: 1px solid;
    padding: 0 0 5px 0;
  }
.sg-scroll {
    padding: 10px;
    height: 350px;
    overflow-y: scroll;
    overflow: auto;
}
.list-group-item {
   font-family: 'Arial', sans-serif;
   font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255);
    border-top: none;
}
.side-imgpro {
  width: 80%;
  height: auto;
  /* width: fit-content; */
  /* border-radius: 84px; */
  padding: 6vw;
  padding-left: 21vw;
}
.x-margin {
    padding: 0vw 7vw;
}