body {
  font-family: 'georgia', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', 'Baskerville', 'serif' !important;
	font-size:17px;
	line-height:1.42857143;
  padding-top:0;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
header {
  background-image: url(bg.jpg);
  border-top: 4px solid #a0138e;
  border-bottom: 3px solid #AB8309;
}
.row.tranparency {
  background-color:rgb(3, 3, 3,0.7);
  /* opacity: 0.8; */
  margin: 0px;
}
body {
  background: #ecf0f1;
}
main {
  /* max-width: 900px; */
  margin: auto;
  /* padding: 0.5rem; */
  
}
h3, h3 {
  font-size: x-large;
  color: white;
}
h5.text-center.m-2 {
  font-weight: 700;
  font-size: 1.1vw;
}
h3#hline {
  border-top: 2px solid green;
  font-family: "Arial Black", Gadget, sans-serif;
  opacity: 1;
}
.wrap {
  width: 200px;
  margin: 30px auto;
}

.padding-0{
  padding-right: 1%;
  text-align: right;
}

i.homeicon1.fa.fa-home {
  /* padding-top: 3px; */
  margin: auto;
  box-sizing: border-box;
  font-size: 36px;
}
/* .fa-facebook-official {
  color: #3B5998;
}
.fa-youtube {
  color: #bb0000;
} */
.icon2 {
  font-size: 28px;
}
.strongText {
    font-weight: 700;
    font-size: 20px;
}
.nationInfo {
  text-align: center
}
hr {
  margin:0;
}
header h6 i {
    float: left;
    font-size: 24px;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
    margin-right: 10px;
    margin-top: 5px;
}
header h6 span {
    overflow: hidden;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;    
}
.bd-placeholder-img {
  background: linear-gradient(to right, #5d2d88, #ea4c11);
}
#default2 {
  background-color:#0D7562;
  text-decoration-color: blanchedalmond;
  /* height: 34px; */
  /* position: fixed; */
}
#default2.fixed-top {
   position:fixed;
   top:0; left:0;
   width:100%;
 
}
#logo-small img{
  max-height:40px;
}
#logo-small
{
  display:none;
}
img.logo {
  max-width:100%;

  height: 120px;
}

img.logo3 {
  max-width: 100%;
  opacity: 1;
  height: 11vw;
  margin-left: 8vw;
  /* margin-left: 50%; */
  align-content: end;
}
img.logo1 {
  height: 10vw;
}
/* img.logo3 {
  max-width: 100%;
  opacity: 1;
  height: 120px;
  margin-left: 50%;
} */

/* carousel */
.carousel {
  margin-bottom: 0rem;
  margin-top: 5rem;
 
}
.carousel-item {
  height: 29rem;
  /* margin-top: 5px; */

}



/*FOOTER*/

footer {
  /* background:  rgb(53, 119, 67);
  background: -webkit-linear-gradient(59deg, #43733a, #21421c);
  background: linear-gradient(59deg, #3c733a, #162a19);
  color: rgb(53, 119, 67); */
  margin:0px;

}

footer a {
  color: #fff;
  font-size: medium;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid white;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
  color: white;
}
.social-network a.icoFacebook{
  background-color: #3B5998;
  color: #fff;
}
.social-network a.icotwitter{
  background-color: #1e4c6c;
  color: #dd4444;
}

.social-network a.icoLinkedin {
  background-color: #bb0000;  
}
.social-network a.icoLinkedin i{ 
  color: white;
}
.social-network a.icoFacebook i{ 
  color: white;
}
.social-network a.icotwitter i{ 
  color: white;
}
/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
.social-network a.icotwitter:hover {
  background-color: #1e4c6c;
}
.social-network a.icoLinkedin:hover {
  background-color: #bb0000;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icotwitter:hover i{
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #dd4444;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


/* about us  */

.about{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
    background-image:url("background_images\leafs_dark.png");
    background-repeat:repeat;
  background-size:cover;

}
.about h1 {
	padding: 10px 0;
	margin-bottom: 20px;
}

.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	
	background-color: #4C0822;
	border: 2px solid #4C0822;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #CC0039;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: #CC0039;
	font-size: 14px;
	font-weight: bold;
}


main-adjustments {
  margin-left: -102.8px;  
  margin-right: -103.2px; 
  padding-left: 102.8px; 
  padding-right: 103.2px; 
  border-left: 0px; 
  border-right: 0px;
}

/* Notice board */
.our-skills {padding-top: 40px; padding-bottom: 70px}
.our-skills h3 {font-weight: bold; margin-top: 0}


.back-img {
 background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
 background-repeat: repeat;

}

button:focus{outline: none;border: none;}
.container{width: 1500px;max-width: 1500px;}
.topstrip{background: #e9e9e9; min-height: 54px; }
.topstrip ul{padding: 0; margin: 0;list-style: none;}
.topstrip ul li{float: left;}
.social-link{padding: 15px 0; display: inline-block; float: left;}
.social-link ul li a{margin-right: 5px; border: 1px solid #a0a0a0; height: 25px; width: 25px;text-align: center; line-height: 23px;transition: all 0.5s; font-size: 15px; color: #a0a0a0;display: inline-block; border-radius: 50%;}
.social-link ul li a:hover{ color: #fff; background: #a0a0a0; }

.topstrip-menu{display: inline-block; float: left;}
.topstrip-menu ul li a{color: #a0a0a0;text-decoration: none;font-size: 12px;text-transform: uppercase; padding: 10px 10px;float: left;}
.topstrip-menu ul li a:hover{color: #01409f; transition: 0.3s;}

ul#menu-top_strip_menu {padding-top: 10px;}
.topstrip .btn-secondary{color: #00a651 !important; background-color: transparent !important; border-color: transparent !important;font-size: 12px;}
.topstrip .theme-color li{margin-right: 0px;}
.topstrip .theme-color li a{padding: 4px; border: 1px solid transparent; background: #ececec; display: inline-block; float: left;transition: 0.3s;}
.topstrip .theme-color li a:hover{border: 1px solid #00a651;padding: 4px;}
.topstrip .theme-color li a span{width: 10px; height: 10px; display: block;}
.topstrip .language_bar_chooser{background: #ececec; overflow: hidden;}
.topstrip .language_bar_chooser li{width: 100%;}
.topstrip .language_bar_chooser li a{display: block; padding: 5px 10px; color: #333;font-size: 12px;text-decoration: none;}
.topstrip .language_bar_chooser li a:hover{color: #00a651; background: #fff;}

.topstrip-right .ab{display: inline-block;float: left; margin-top: 16px; font-size: 13px; margin-right: 15px;color: #a0a0a0;}
.fontsize{float: right; margin-top: 20px !important;}
.fontsize li {margin-right: 7px; position: relative; bottom: 6px;}
.fontsize li a {
    font-size: 14px;
    background: #636363;
    color: #fff;
    border: 2px solid #636363;
    text-align: center;
    width: 25px;
    height: 23px;
    transition: all ease-in-out 0.5s;
    text-decoration: none;
    display: inline-block;
}
.fontsize li a:hover {color: #636363; background: #fff;}
.topstrip-right .dropdown{display: inline-block; padding: 11px 0;}
.topstrip-right{float: right;}
.theme-color{padding: 16px 0 !important; float: left;}


/* card */

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  
}

.card-header{
  background-color: #88131B;
  color: white;
  font-family: 'Verdana','Arial','Bitstream Vera Sans','DejaVu Sans','Meiryo','Hiragino Kaku Gothic Pro','MS PGothic','Osaka','sans-serif';
}

.card-body {
  color: black;
  padding: 0%;
}

.text-block {
  position: inherit;
  top: 13.5vw;
  /* align-content: center; */
  background-color: white;
  color: black;
  padding-left: 20px;
  /* padding-right: 20px; */
  border: 1px solid black;
  /* width: 17vw; */
  /* left: 2.5vw; */
  /* margin-bottom: -40px; */
}

.h4, h4 {
  font-size: 18px;
  font-style: bold;
}
.text-block1 {
 position: absolute;
  top: -1vw;
  /* align-content: center; */
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  width: 17vw;  
  /* align-self: center;
  align-content: end;
  align-content: flex-end;
  float: center; */
  left: 2.5vw;
}


/* Footer carousel */
img#footermarquee {
  background-color: white;
  height: 50px;
}

/* Parallax */
.parallax {
  /* The image used */
  background-image: url('bg.jpg');

  /* Set a specific height */
  min-height: 29.5rem; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax */
/* .parallax2 { */
  /* The image used */
  /* background-image: url("https://images.pexels.com/photos/212324/pexels-photo-212324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */

  /* Set a specific height */
  /* min-height: 29.5rem;  */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background: url(../images/estate.jpg) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
/* } */


